﻿@model s1070361.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">
    <p>BMI = 體重 (kg) / 身高 (m*m)</p>
    <p>@Html.DisplayNameFor(a=>a.height): @Html.TextAreaFor(a => a.height)公分 @Html.ValidationMessageFor(h=>h.height)</p>
    <p>體重: @Html.TextAreaFor(b => b.weight)公斤 @ViewBag.weigthError</p>
    <p><input type="submit" name="name" value="送出" /></p>

    <p>計算結果: @Model.result</p>
    <p>等級: @Model.level</p>
</form>