﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>


<p>姓名 : @Html.TextBox("user") </p>
<p>帳號 : @Html.TextBox("usernum") </p>
<p>密碼 : @Html.Password("password") </p>
<p>
    性別 : @Html.RadioButton("gender", "A") Man
    @Html.RadioButton("gender","B") Woman
</p>
<p>
    興趣 : @Html.CheckBox("hobby-1", "A") swim
    @Html.CheckBox("hobby-2","B") run
    @Html.CheckBox("hobby-3", "c") jump
</p>
<p>自我介紹 : @Html.TextArea("aboutme") </p>


@*<p>姓名 : <input type="text" name="name" /></p>
    <p>帳號 : <input type="text" name="user" /></p>
    <p>密碼 : <input type="password" name="password" /></p>
    <p>
        性別 : <input type="radio" name="gender" value="a" /> Man
        <input type="radio" name="gender" value="b" /> Woman
    </p>
    <p>
        興趣 : <input type="checkbox" name="s-1" value="1" />swim
        <input type="checkbox" name="s-2" value="2" />run
    </p>
    <p>自我介紹 : <textarea></textarea>></p>*@